/* AddressForm.css */
.address-form-container {
    padding: 0px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .table {
    margin-top: 20px;
  }
  
  .btn-danger {
    margin-left: 10px;
  }
  .address-form-container h3:hover{
    cursor: pointer;
    color: aqua;
  }
  .hide {
    display: none;
  }
  
  .myDIV:hover + .hide {
    display: block;
    color: red;
  }  