/* Updated Banner Styles */
.home-banner {
  background-image: url("/src//assests/work-progress_5578703.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding-top: 40px;
  padding-bottom: 100px;
}

.home-banner .row {
  align-items: center;
  justify-content: space-evenly;
}

/* Slider Arrows */
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 1 !important;
}

.slick-prev:before,
.slick-next:before {
  font-size: 35px !important;
}

/* Banner Content Styles */
h3.banner-title {
  font-family: Arial, sans-serif; /* Changed to a more universally available font */
  font-size: 36px;
  font-weight: bold; /* Adjusted for a stronger emphasis */
  color: #0c0a0a; /* Ensuring the title color contrasts well with the background */
  margin-bottom: 20px;
}

p.banner-description {
  font-family: Arial, sans-serif; /* Changed to match the title font */
  font-size: 18px;
  font-weight: normal; /* Adjusted for readability */
  color: #f6eeee; /* Adjusted to a lighter shade for readability */
  margin-bottom: 30px;
  line-height: 1.5; /* Improved line spacing */
}

button.read-more {
  background: #fdfafa; /* Added background color for visibility */
  border: none; /* Removed border for a cleaner look */
  color: #100505; /* Changed text color to white */
  width: auto;
  padding: 10px 25px;
  font-family: Arial, sans-serif; /* Font consistency */
  font-size: 16px; /* Adjusted font size */
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer; /* Added cursor pointer */
  transition: background-color 0.3s ease; /* Added smooth hover transition */
}

button.read-more .fa {
  margin-left: 5px;
}

button.read-more:hover {
  background-color: #ff5c5c; /* Added hover effect */
}

/* Responsive Styles */
@media only screen and (max-width: 600px) {
  .home-banner img {
    width: 50% !important;
    margin-left: auto;
    margin-right: auto;
    margin-top: 38px;
  }

  .home-banner {
    padding-left: 20px;
    padding-right: 32px;
  }

  .slick-prev:before,
  .slick-next:before {
    font-size: 25px !important;
  }

  h3.banner-title {
    font-size: 30px; /* Adjusted for smaller screens */
  }

  p.banner-description {
    font-size: 14px; /* Adjusted for smaller screens */
    line-height: 1.6;
  }

  button.read-more {
    line-height: 1.6;
    padding: 8px 15px;
    font-size: 12px;
  }
}
.fixed-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; /* Ensures the navbar stays on top of other content */
}

.home-container {
  padding-top: 0px; /* Adjust this value to match the height of your Navbar */
}

/* Optional: Add a background color to the navbar */
.fixed-navbar {
  background-color: #7f3030; /* or any color that suits your design */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow if needed */
}

